<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>お買い物リスト</title>
        <link rel="stylesheet" href="CSS/base.css">
    </head>
    <body>
        <%- include("header.ejs"); %>
        <section class="list-wrapper">
            <div class="container">

                <h1>買い物リスト</h1>
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>品物</th>
                        <th></th>
                    </tr>                        
                    </thead>
                    <tbody>
                    <% items.forEach( (item) => { _%>
                    <tr>    
                    <% if(item.id == id){ _%>
                        <td><%= item.id %></td>
                        <td>
                            <form action="/update" method="POST">
                               <input type="text" value="<%= item.name %>" name="item">
                               <input type="hidden" value="<%= item.id %>" name="id">
                               <input type="submit" value="編集" >
                            </form>
                        </td>
                    <% } else { _%>
                        <td><%= item.id %></td>
                        <td><%= item.name %></td>
                    <% } _%>
                        <td>
                            <form action="/delete" method="GET">
                                <input type="hidden" name="id" value="<%= item.id %>">
                                <input type="submit" value="削除">
                                <input type="submit" value="編集" formaction="/edit">
                            </form>
                        </td>
                    </tr>     
                    <%}); _%>    
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <form action="/add" method="POST">
                                    <input type="text" name="item">
                                    <!-- 追加ボタン -->
                                    <input type="submit" value="追加">
                                </form>
                            </td>
                            <td></td>
                        </tr>                   
                    </tfoot>
                </table>
            </div>
        </section>
        <%- include("footer.ejs") %>
    </body>
</html>